body {
  margin: 0;
  font-family: Arial;
  background: #0b1020;
  color: white;
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #111827;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  padding: 20px;
}

.panel {
  background: #111827;
  padding: 15px;
  border-radius: 10px;
}

input {
  width: 70%;
  padding: 8px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

#memory div {
  font-size: 12px;
  margin-bottom: 6px;
}
