body {
  margin: 0;
  font-family: Arial;
  background: #0b1020;
  color: white;
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #111827;
}

.container {
  padding: 20px;
}

.panel {
  background: #111827;
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;
}
